h1{
    background-color: aqua;
}

.container{
    width: 50%;
    background-color: slateblue;
    color: darkseagreen;
    margin-bottom: 5%;
    display: flex;
}
.second-container{
    width: 50%;
    background-color: indianred;
    color: blue;
    padding-top: 4em;
}